<ng-content select="h1"></ng-content>
<!--

<div *ngIf="nome != 'João'">
  <p [ngClass]="{ 'active': valor, 'disabled': !valor }">
    diretivas-atributos works!
  </p>
  <p [ngStyle]="{ 'height': newHeight, 'background-color': newBackground }">
    diretivas-atributos works!
  </p>
</div>
<hr>

<h2>NgModel</h2>
<input [(ngModel)]="nome">
<button [disabled]="nome === ''" (click)="salvar()">Salvar</button>
<li *ngFor="let item of list">{{item.nome}}</li> -->

<!--
<ng-template ngFor let-item [ngForOf]="list">
  <p>Ng Template active</p>
  <p>{{item.nome}}</p>
</ng-template>

<input [(ngModel)]="nome">
<button [disabled]="nome === ''" (click)="salvar()">Salvar</button>
 -->


 <ng-content select="h3"></ng-content>
 <ng-content select="hr"></ng-content>


