<!-- <h2>Interpolation</h2>

<p>Teste 01</p>
{{ title }}
<hr />
<p>Teste 02</p>
{{ numero + 10 }}
<hr />
<p>Teste 03</p>
{{ 10 / 2 }}

<hr />

<h2>Property Bind</h2>

<button [disabled]="checkedDisable">Botão</button>
<br />
<br />
<img [src]="imgSrc" width="250" [alt]="description" />

<hr />

<h2>Event Binding</h2>
<button (click)="clickVerify()">Faz alguma coisa</button>
<br />
<div
  id="box"
  (mousemove)="mouseMouveTeste($event)"
  style="background-color: red; width: 100px; height: 100px"
></div>

{{ position.x }} - {{ position.y }}

<hr />

<h2>Two way data binding</h2>

<input [(ngModel)]="title" />
{{ title }} -->
